<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AI for Wildlife Monitoring and Poaching.</title>
  <link href="/static/css/main.css" rel="stylesheet">

</head>
<body>

  <nav>
    <a href="#home" class="nav-link">Home</a>
    <a href="/about" class="nav-link">About</a>
    <a href="/login" class="nav-link">Login</a>
    <a href="/register" class="nav-link">Signup</a>
    <a href="/admin-login" class="nav-link">Admin</a>
  </nav>



<section id="login" class="auth-section">


  <div class="auth-container">

    <!-- Login Form -->
    <div class="auth-box">

                  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

      <h3>Admin Login</h3>
      <form method="POST">

        <input name="admin_username" placeholder="Admin username or Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
          <br>

          <a href="/admin_registration/" style="color:#ffe082;">Registration</a>
      </form>
    </div>

  </div>
</section>


<footer class="site-footer">
  <div class="footer-content">
    <h3>Sign Language Detection</h3>
    <p>Bridging Silence, Connecting Worlds.</p>

    <ul class="footer-links">
      <li><a href="/">Home</a></li>
      <li><a href="about/">About</a></li>
      <li><a href="user_login/">Login</a></li>
      <li><a href="user_registration/">Signup</a></li>
        <li><a href="admin_login/">Admin</a></li>
    </ul>

    <p class="footer-credit">© 2025 Sign Language Detection. All rights reserved.</p>
  </div>
</footer>



</body>
</html>
