<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AI for Wildlife Monitoring and Poaching.
</title>
    <link href="/static/css/main.css" rel="stylesheet">

    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }

        .bg-img {
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.7)), url('static/images/rhino.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>

</head>
<body style="background: linear-gradient(130deg, black, #228B22);
      color: #fff;
      height: 100vh;">


<nav>
    <ul class="footer-links">
        <li><a href="/user_home">Home</a></li>
        <li><a href="/pre">Predict</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>




<div class="bg-img">
    <div class="content"><br>
                  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}


        <div class="index-main"><br><br><br><br>
              <div class="overlay">



                <h1 style="font-size:45px;"> Hello "{{user_name}}"</h1>


                  <br>
                  <br>
                  <p>We Are</p>
                <h1 style="font-size:35px;">Introducing AI-Powered Eyes That Never Sleep</h1>
                <p>Built on Cutting-Edge AI and Web Technologies</p>

                  <br>
                  <br>


                  <a href="/pre">
                      <button>Let's Go</button>
                  </a>
              </div>
        </div>

    </div>
</div>

</body>
</html>
